Pthon Datatype 
List.

In [61]:
list = [2,3,4,5,10]

Basic List operaions

In [62]:
print("List operations.")
print(list)
print("* operations \t" , list*4)

List operations.
[2, 3, 4, 5, 10]
* operations 	 [2, 3, 4, 5, 10, 2, 3, 4, 5, 10, 2, 3, 4, 5, 10, 2, 3, 4, 5, 10]

Slice operator (:)

list[a:b]
a = start for that position
b = upto ehat u want to print form the list

In [63]:
print("Slice operator\t" ,list[0:3])

Slice operator	 [2, 3, 4]

Pyhton program to swap two elements in the list.

a , b = b , a

In [64]:
program_1_list=[1,2,3,4,5,6,7]
print(program_1_list)
pos1 = 4
pos2 = 1
program_1_list[pos1],program_1_list[pos2] = program_1_list[pos2],program_1_list[pos1] 
print("\nAfter swap : \n",program_1_list)

[1, 2, 3, 4, 5, 6, 7]

After swap :
 [1, 5, 3, 4, 2, 6, 7]

Create a function for swap

In [65]:
def swapFucntion(a,pos1,pos2):
    a[pos1],a[pos2] =a[pos2] ,a[pos1] 
    return a
swapFucntion(program_1_list,0,4)

[2, 5, 3, 4, 1, 6, 7]

Progrma to find max for 2 number in pyhton

In [66]:
list1 = [1,23,4,5,6,7,8,9,10,11,14,15,171,19]
print(max(list1))

171

Progrma to find min for 2 number in pyhton

In [67]:
print(min(list1))

1

Progrma to rever a list in pyhton

In [68]:
revers_List = [1,2,3,4,5,6,7,8,9,10]
revers_List.reverse()
print(revers_List)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Find Latgest elemet in list with logic.

In [69]:
largest_number_list=[1,2,4,6,8,9,6,4,10]
largest_number_list.sort()
print("Largest elemen:  " ,largest_number_list[-1] )

Largest elemen:   10

In [70]:
temp = largest_number_list[0]
for x in largest_number_list:
    
    if temp > x:
         temp = temp
    if temp< x :
         temp = x
print(temp)

10

TupleSet DataType
It is immutale (You cannot change once defined)

Set Datatype
Set will not print repated values

In [71]:
Set = {2,3,4,5,6,7,8,10,1}
print(Set)
# add in SET
Set.add(13)
print(Set)
# remove from set
Set.remove(10)
print(Set)

{1, 2, 3, 4, 5, 6, 7, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 10, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 13}

In [72]:
a = [1,2,3,4,5,6,7,8,9]
set1 = set(a)
print(set1)
print("Max: \t" , max(set1))
print("Min: \t" , min(set1))
set2={10,11,12,13,14,15,16}
s = set1.intersection(set2)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
Max: 	 9
Min: 	 1
set()

In [ ]:
def IntersecofSets(ar1,ar2,ar3):
    s1 = set(ar1)
    s2 = set(ar2)
    s3 = set(ar3)
    set1 = s1.intersection(s2)
    result_set = set1.intersection(s3)
    final_list = list(result_set)
    print(final_list)
if __name__ == '__main__':
    ar1 = {1,2,34,10,12,20,24}
    ar2 = {5,2,6,10,15}
    ar3 = {3,4,5,6,20,42,24}
    IntersecofSets(ar1,ar2,ar3)